$bg_color: #ffffff;
$dark_gray: #2a2a2a;
$light_gray: #afb1bd;
$font_color: #121212;
$label_color: #808080;
$input_color: #4a4a4a;
$shopping_cart: #f0f0f5;
$price_color: #000000;
$btn_primary: #f67599;
$stepper_label: #afb1bd;
